* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1a1a2e;
}

.calculator {
    background-color: #16213e;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    width: 320px;
}

#result {
    width: 100%;
    height: 60px;
    font-size: 32px;
    text-align: right;
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    background-color: #0f3460;
    color: #fff;
    border-radius: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    height: 60px;
    border-radius: 10px;
    border: none;
    background-color: #4e5d6e;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #6a7d91;
}

.operator {
    background-color: #e94560;
}

.operator:hover {
    background-color: #ff5e78;
}

.equal {
    background-color: #00d2ad;
}

.col-2 {
    grid-column: span 2;

}
.footer-link {
    margin-top: 15px;
    text-align: center;
}

.footer-link a {
    color: #00d2ad; /* Midabka Calculator-kaaga */
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

.footer-link a:hover {
    text-decoration: underline;
}
